<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Head.ejs')%>
<body>
   <%- include('./partials/Navbar.ejs')%>

    <div class="details content">
        
      
        <h2><%= blog.title %></h2>
        
        <div class="content">
            <img src="<%=blog.thumb%>" alt="image" class="blog__image">
            <p class="body"><%= blog.body%></p>
        </div>
        <a class="delete" data-doc="<%= blog._id%>">DELETE</a>
       
       
    </div>
    <%- include('./partials/Footer.ejs')%>

    <script>
        const deleteBtn=document.querySelector('.delete');
        deleteBtn.addEventListener('click',(e)=>{
            fetch(`http://localhost:5000/blogs/${deleteBtn.dataset.doc}`,{method:'DELETE'}).then((response)=>response.json()).then((data)=>{
                window.location.href=data.redirect;
            }).catch((err)=>{
                console.log(err);
            })
        })
    </script>
</body>
</html> 